Daily Journal Writer.json
{
  "name": "Daily Journal Writer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -64
      ],
      "id": "abb9e18d-6c84-48fc-9f53-ff8de945fa07",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short motivational journal.\nDate: {{$now.format(\"YYYY-MM-DD\")}}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -320,
        -64
      ],
      "id": "29561c47-318b-4aa5-96e1-7b1f96d69125",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        144
      ],
      "id": "1ba09a4c-d266-4f4b-b7b9-ecce8a0ebb3a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WxMR0oULbHYGv6fq",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72047439-dad8-4dc0-9629-7b6e8b3105b2",
              "name": "clean_text",
              "value": "={{$json[\"text\"].replace(/\\\\n/g, \"\\n\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -64
      ],
      "id": "e34db7e2-15e9-46e8-b05c-70e64bafb9db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "clean_text",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        -64
      ],
      "id": "687ae19b-4c26-4d64-8676-c4ff007b4327",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=F:\\DailyJournalWriter\\journal_{{ $now.format('yyyy-MM-dd') }}.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -64
      ],
      "id": "d04a5dae-56b8-4591-b0a7-879542bbe0fd",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c2432742-2e7b-4015-b0f6-139b3350f2da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f045ff427fefaecbc288661244ddb6c599bd06cde13e4a70b894d01161dbc3f"
  },
  "id": "gVviYO8iyLIdiuyo",
  "tags": []
}